<% var d = new Date(); var year = d.getFullYear() %>
<footer>
  <p>&copy <%= year %> | Site Owner | <a class="link" href="mailto:">loremipsum@gmail.com</a></p>
  <div class="footer-socials">
    <a href="" target="_blank"
      ><img src="/images/dailydev.svg" alt="Daily Developer"
    /></a>
    <a href="" target="_blank"
      ><img src="/images/linkedin.svg" alt="LinkedIn"
    /></a>
    <a href="" target="_blank"
      ><img src="/images/github.svg" alt="Github"
    /></a>
  </div>
</footer>
