<header>
  <a href="/"><img src="/images/whiteLogo.png" alt="Developer Logo" id="logo" /></a>
  <div class="hamburger-menu" id="hamburger-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <nav id="main-nav">
    <li><a href="/"> Home </a></li>
    <li><a href="#mission"> Mission</a></li>
    <li><a href="#projects"> Projects</a></li>
    <li><a href="#services"> Services</a></li>
    <li><a href="#contact"> Contact</a></li>
    <a href="/connect"
      ><button id="nav-button"><h3>Hire Us</h3></button></a
    >
  </nav>
</header>
