<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %> | QVerified</title>

  <link rel="icon" href="/images/whiteLogo.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/whiteLogo.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/images/whiteLogo.ico" />

  <meta property="og:title" content="QVerified" />
  <meta
    property="og:description"
    content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi excepturi maiores vitae explicabo ullam unde culpa facilis deserunt, dolore quod placeat fugit suscipit obcaecati eos qui asperiores. Dolorem, maiores dolorum." 
  />
  
  <meta
    property="og:image"
    content="https://portfolio-qqz4.onrender.com/images/whiteLogo.png"
  />
  <meta property="og:url" content="https://portfolio-qqz4.onrender.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Lorem Ipsum" />

  <link rel="stylesheet" href="/css/styles.css" />
  <!-- <script src="/js/index.js"></script> -->
</head>
