<section class="home" id="landingPage">
  <!-- <img src="/images/landingPage.png" alt="Landing Page Background" /> -->
  <div class="top">

    <h1>Lorem Ipsum</h1>
    <p>Your idea can become a reality</p>
    
    <a href="/connect"><button><h3>Hire Us</h3></button></a>
  </div>
</section>
<section class="about" id="about">
  <h2>Welcome</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates vero natus, nihil dolore ipsum non officiis ut magnam illum aperiam iste iure. Labore, rem accusamus! Reprehenderit voluptas autem placeat delectus?
    Sapiente eius impedit quam et praesentium, iusto, placeat laboriosam dicta dolorem omnis architecto libero ex minus dolorum nisi reprehenderit. Error eligendi maiores obcaecati delectus aliquid est repudiandae maxime architecto unde.
    Mollitia provident dolores natus unde, voluptatum modi ducimus eius deserunt, asperiores ullam vero nisi nesciunt temporibus voluptatibus harum ab recusandae magnam nam deleniti, rerum iste quibusdam repudiandae? Perferendis, iusto sint!
  </p>
  
</section>

<section class="mission" id="mission" >
  <h2> Mission </h2>
  <div class="mission" id="mission-container">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque voluptatem, unde fugit et hic dolore debitis ea corporis suscipit ratione, facilis, iste quidem rem maiores. Dolores inventore consectetur accusantium quibusdam.
      Unde officia rerum nobis nam veniam harum repudiandae vel porro dicta in, consectetur incidunt. Assumenda, reprehenderit? Repudiandae nisi itaque ut! Adipisci veniam voluptate vitae est commodi dolorem assumenda quia! Eveniet.
      Fugiat libero, exercitationem ullam earum hic, in officia consequuntur distinctio dolorum iste nesciunt asperiores et facere numquam id obcaecati similique tempore dolorem quaerat cupiditate iusto at. Incidunt aliquid nesciunt quos!
    </p>
  </div>
</section>

<section class="projects" id="projects">
  <h2> Projects </h2>
  <div class="projects-container" id="projects-container">
  </div>
  <div id="modals-container"></div>
</section>

<section class="services" id="services">
  <h2> Services </h2>
  <div class="services-provided" id="services-provided">
  </div>
</section>

<section class="contact" id="contact">
  <h2>Contact Us</h2>
  <p>
    Let's connect and bring your ideas to life. Whether you're hiring,
    collaborating, or just want to chat tech We are here!
    <br /><br />
    📧 Email: <a class="link" href="mailto:" target="_blank">loremipsum@gmail.com</a>
    <br />
    📱 Phone: +231-886-XXX-XXX <br />
    🌐 GitHub:
    <a class ="link" href="" target="_blank">Lorem Ipsum</a>
  </p>
</section>
